body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(71, 126, 227);
}

@keyframes changeColor {
    0%{ background-color: dodgerblue; }
    25%{ background-color: rgb(14, 23, 31); width: 300px; }
    50%{ background-color: rgb(255, 30, 109); }
    100%{ background-color: rgb(190, 210, 230); }
    
}


.father{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 20px;
}

.one{
    background-color: red;
    margin: 20px;
}

.two{
    background-color: crimson;
    margin: 20px;
}

.three{
    background-color: orangered;
    margin: 20px;
}

.four{
    background-color: yellow;
    margin: 20px;
}

.five{
    background-color: seagreen;
    margin: 20px;
}


.box{
    animation-name: changeColor;
    animation-duration:10s;
    animation-delay: -2s;
    width: 220px;
    height: 220px;
}


.reac{

}