@keyframes changeColor {
    0%{background-color: crimson;}
    25%{background-color: rgb(255, 2, 2);}
    75%{background-color: rgba(70, 92, 91, 0.554);}
    100%{background-color: rgb(255, 255, 255);}
}


.box{
    width: 200px;
    height: 200px;
    border: solid;
    animation-name: changeColor;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-delay: 4s;
    animation-fill-mode: both;
}