@keyframes changeColor {
    0%{background-color: cornflowerblue; width: 250px;}
    25%{background-color: cornflowerblue; width: 350px;}
    50%{background-color: cornflowerblue; width: 350px;}
    100%{background-color: cornflowerblue; width: 550px;}
    
}



.container{
    background-color: grey;
    display: grid;
    grid-template: auto auto auto / 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 20px;
  
}


.one {
    background-color: tomato;
    padding: 20px;
}
   
.two{
    background-color: burlywood;
    padding: 20px;
}
.three{
   background-color: red;
   padding: 20px;
}
   
.four{
   background-color: yellowgreen;
   padding: 20px;
}
   
.reac{
    height: 100px;
    width: 100px;
    animation-name: changeColor;
    animation-duration: 7s;
    animation-direction: alternate-reverse;
}