.container{
    color: white;
    background-color: grey;
    padding: 10px;
    display: grid;

    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
}

.one{
    background-color: crimson;
    padding: 20px;
}

.two{
    background-color: aquamarine;
    padding: 40px;
}

.three{
background-color: cadetblue;
}

.four{
    background-color: darkorange;
}

.five{
  background-color: firebrick;
}

.six{
   background-color: cornflowerblue;
  
}


.reac{
    width: 100px;
    height: 100px;
}