
.container{
    display: grid;
    background-color: grey;
    color: white;
    padding: 10px;
    height: 500px;

    grid-template: auto auto / auto auto auto;

    align-items: center;
    justify-items:center;
    justify-content: space-evenly;
    align-content: flex-end;
    gap: 10px;
}

.one{
background-color: aqua;
}

.two{
background-color: chocolate;
}

.three{
background-color:royalblue ;
}

.four{
background-color: crimson;
}

.five{
background-color: darkolivegreen;
}

.six{
background-color: dodgerblue;
}


.reac{
    width: 100px;
    height: 100px;
}