.container {
   
    display: flex;


    justify-content: flex-start;
}

.one{
    background-color: red;
}
.two{
    background-color: yellow;
}
.three{
    background-color: blue;
}
.four{
    background-color: burlywood;
}

.five{
    background-color: aquamarine;
}

.six{
background-color: coral;
}

.reac{
    width: 200px;
    height: 200px;
    padding: 30px;
    margin: 10px;
}

h4::first-letter{
    color:aqua;
    font-size: 30px;
}

h4::first-line{
    color: crimson;
}
