.container {
    background-color:grey;
    color: white;
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    
   
}

.one{
 background-color: tomato;
 padding:10px;
 margin-bottom: 5px;
}

.two{
 background-color: burlywood;
 padding: 30px;
}
.three{
background-color: red;
padding: 30px;
}

.four{
background-color: yellowgreen;
padding:30px;
}

.five{
background-color: yellow;
padding: 30px;
}

.six{
background-color: aqua;
padding: 30px;
}