.container{
    color: white;
    background-color: grey;
    padding: 10px;
    display: grid;

    grid-template: 100px 100px / 1fr 2fr 1fr  ;
    gap: 20px;
}

.one{
    background-color: crimson;
  
}

.two{
    background-color: aquamarine;
   
}

.three{
background-color: cadetblue;
}



.rect{
    width: 100px;
    height: 100px;
    
}